select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: right center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' width='8px' height='13px' viewBox='0 0 8 13' enable-background='new 0 0 8 13' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpolygon fill='' points='0,8 4,13 8,8 '/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpolygon fill='' points='4,0 0,5 8,5 '/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
   
    padding-right: 28px;
    text-indent: 0.01px;
    text-overflow: '';
    cursor: pointer;
    font-size:14px;
    background-color:#f9f9f9;

}

input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="file"], input[type="number"], input[type="tel"], input[type="url"], textarea, select {
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 0 1em;
    outline: none;
    padding: 8px 10px 5px 10px;
    border-radius:3px;
}

.gform_wrapper input {    
    border: 2px solid #757575;
}


/* Forms */
.quform-button-submit-default>button {
    @apply
    bg-color1
    text-white
    px-20;
  }
  
  .quform-element-submit {
    @apply
    flex
    justify-center;
  }